/*******************************************************************/
/*           PLUGIN LISTS                                          */
/*******************************************************************/
form.wfshare-plugin-list-form {
    margin-top: 3px;
}

.tinyem {
    font-style: italic;
    color: #999;
    font-size: 0.95em;
    margin: 10px 0 0 0;
    padding: 0;
}

.wfshare-plugin-list {
    background: white;
    border: 1px solid #CCC;
    border-radius: 0.4em;
    margin-top: 1em;
    overflow: hidden;
}

.wfshare-plugin-list .wfshare-plugin {
    border-bottom: none;
    border-top: 1px solid #CCC;
    color: #222;
    font-size: 1em;
    font-weight: normal;
}

.wfshare-plugin-list .wfshare-plugin:first-child {
    border-top: none;
}

.wfshare-plugin-list .wfshare-plugin-row {
    line-height: 22px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.wfshare-plugin-row:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.wfshare-plugin-list .wfshare-plugin .wfshare-details {
    display: none;
    font-size: 1em;
    padding: 0.8em 1em 0.8em 1.7em;
    position: relative;
}

.wfshare-plugin-list .wfshare-plugin .notify {
    background-color: white;
    border: none;
    padding: 0px;
}

.wfshare-plugin-list .wfshare-plugin-row .wfshare-plugin-icon-container {
    display: inline-block;
    float: left;
    height: 14px;
    margin: 4px 10px 0 3px;
    width: 14px;
    background-position: 0em 0em;
}

.wfshare-plugin-list .wfshare-plugin-row .wfshare-plugin-icon-container.puzzle {
    background-image: url("images/puzzle-piece.png");
    width: 16px;
    height: 16px;
}

.wfshare-plugin-list .expanded .wfshare-plugin-row {
    background: #EBF1FD;
}

.wfshare-plugin-list .expanded .wfshare-details {
    display: block;
}

.wfshare-details .wfshare-plugin-info {
    background: #F8F8F8;
    height: 100%;
    margin-top: 1em;
    overflow: hidden;
    position: relative;
}

.wfshare-details .wfshare-plugin-info .wfshare-column {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 99;
}

.wfshare-details .wfshare-plugin-info .wfshare-section {
    padding: 15px 25px;
}

.wfshare-plugin .wfshare-plugin-info dl {
    margin: 0;
    padding-left: 0;
}

.wfshare-plugin-info dl div {
    clear: left;
    margin: 0.4em 0 0 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
}

.wfshare-plugin .wfshare-plugin-info dt {
    clear: none;
    color: #555;
    display: inline;
    float: none;
    margin-top: 0.2em;
    margin-left: 0;
    margin-right: 0.5em;
}

.wfshare-plugin .wfshare-plugin-info dd {
    display: inline;
    margin: 0.2em 0 0 0;
}

h4.wfshare-plugin-name {
    color: #222;
    display: inline;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 60%;
}

/*******************************************************************/
/*           MISC                                                  */
/*******************************************************************/

span.error-text {
    color: red;
}

.wfshare-notes-container {
    padding: 5px 0;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.wfshare-notes-warning {
    margin-top: 0.5em;
}

textarea.textarea.notes-text {
    height: 300px;
}

.wf-summary-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

em .small {
    font-size: 11px;
}

.rarr {
    width: 1em;
}

th.custom-field-name, th.custom-field-type, th.custom-field-description {
    width: 33%;
}

th.screen-name, th.screen-description {
    width: 50%;
}

.export-workflow-image {
    margin-top: 1em;
}

table.aui > tbody > tr > td {
    vertical-align: middle;
}

table.aui > thead > tr > th.original-status, table.aui > tbody > tr > td.original-status {
    text-align: right;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.wfshare-export-banner {
    background: #f5f5f5 url("images/banner.png") 100% 100% no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 16px;
    padding: 24px 16px;
}

.wfshare-export-banner p, .wfshare-export-success p {
    margin-top: 8px;
}

form.aui h3 {
    border: 0;
}

.wfshare-export-iframe {
    display: none;
}

.wfshare-symbol {
    display: inline-block;
    background: #ccc 50% 50% no-repeat;
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

.wfshare-symbol-jira {
    background-image: url("images/symbol_jira.png");
}

.wfshare-symbol-marketplace {
    background-image: url("images/symbol_marketplace.png");
}

.wfshare-table {
    display: table;
}

.wfshare-row {
    display: table-row;
}

.wfshare-cell {
    display: table-cell;
    vertical-align: top;
    padding: 16px 8px;
}

.wfshare-success-buttons {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.wfshare-success-message {
    margin-top: 20px;
}

.aui-page-focused .aui-page-panel-content form.aui .buttons-container {
    margin-top: 0;
    border-top: 0;
}
