$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.export")</title>
    <meta name="decorator" content="panel-admin"/>
</head>
<body class="aui-page-focused aui-page-focused-large">
    <h2>$i18n.getText("wfshare.export.screen.export.title")</h2>

    #if($errorMessage)
        <div class="aui-message error">
            <div class="title">
                <span class="aui-icon icon-error"></span>
                <strong>$i18n.getText("wfshare.error.screen.error")</strong>
            </div>
            <p>$errorMessage</p>
        </div>
        <p><a class="cancel" href="$requestContext.baseUrl/secure/admin/workflows/ListWorkflows.jspa">$i18n.getText("wfshare.button.label.cancel")</a></p>
    #else
        <div class="wfshare-export-banner">
            <h3>$i18n.getText("wfshare.export.screen.export.description")</h3>

            <h4>$i18n.getText("wfshare.export.screen.export.exporting.to.jira")</h4>
            <p>$i18n.getText("wfshare.export.screen.export.exporting.to.jira.description")</p>

            <h4>$i18n.getText("wfshare.export.screen.export.exporting.to.marketplace")</h4>
            <p>$i18n.getText("wfshare.export.screen.export.exporting.to.marketplace.description")</p>
            <p><a href='$helpPath.url' title='$helpPath.title' target='_jirahelp'>$i18n.getText("wfshare.learnmore")</a></p>
        </div>

        <form class="aui top-label dont-default-focus" action="$nextUrl" method="post">
            <div class="buttons-container">
                <input id="nextButton" class="aui-button aui-button-primary" type="submit" value="$i18n.getText("wfshare.button.label.next")"/>
                <a class="cancel" href="$cancelUrl">$i18n.getText("wfshare.button.label.cancel")</a>
            </div>
        </form>
    #end

    <script>
        JIRA.WSP.Analytics.sendEvent("export.step", {
            stepName: "start-export"
        });
    </script>
</body>
</html>

